<button (click)="createTodo()">CreateTodo</button>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Staus</th>
        <th>Description</th>
        <th>USER ID</th>
        <th>Create_on</th>
        <th>update_on</th>
    </tr>
    <tr *ngFor="let todo of todo$|async">
        <td>{{todo.id}}</td>
        <td>{{todo.name}}</td>
        <td>{{todo.status}}</td>
        <td>{{todo.description}}</td>
        <td>{{todo.userId}}</td>
        <td>{{todo.create_on}}</td>
        <td>{{todo.update_on}}</td>
        <button (click)="updateTodo(todo.name)">updateTodo</button>
        <button (click)="detailTodo(todo.name)">detailTodo</button>
        <button (click)="deleteTodo(todo.name)">deleteTodo</button>
    </tr>
</table>